@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Peddana&display=swap');

$roboto: 'Roboto', sans-serif;
$peddana: 'Peddana', serif;

$white:#ffffff;
$blue: #0f52ba;
$pink:#ffa4ff;
$black:#030200;
$grey:#7a7676;
$lightGrey: #b2b2b2;
$green:#00a86b;
$greyButton:#b2b2b2;
$lightGreen:#c2f6e3;
$lightGreyCard:#f7f7fb;
$pinkChat:#ff66ff;
$greyText:#d8d8d8;